

<div class="example-container ">
 
    <div class=sighnin>
     
      <mat-form-field appearance="fill">
      <mat-label>אימייל</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email"  ng-model="emailAddress" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>:הכנס סיסמא</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" ng-model="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br/>
    <a href ="#"routerLink="/sighnup" class="a">עוד לא רשום? לחץ כאן</a>
    <button mat-raised-button (click)="logIn()" routerLink="/my-profile">התחברות</button>
    
  </div>
  
</div>

<!--<button (click)="logIn()">התחברות</button>-->

<!--<input type= "password"/>הכנס סיסמא<br/>-->
<!--<input type="email" >איימל<br/>//רק ->כשהוא משתמש חדש

<button>הכנס</button><br/>
<p >משתמש חדש</p>//כשאין לו משתמש הוא לוחץ על זה והאיימל נוסף למסך
 //<mat-horizontal-stepper></mat-horizontal-stepper>//// טופס הרשמה לאתר -->