.black{
    display: inline-block;
    height: 100%;
    width: 5%;
    background-color: rgb(36, 33, 33);
}
.blue{
    display: inline-block;
    height: 100%;
    width: 5%;
    background-color: rgb(79, 108, 167);
}
.yellow{
    display: inline-block;
    height: 100%;
    width: 5%;
    background-color: rgb(177, 184, 77);
}

body{
    display: inline;
    background-color: #3b3b3b;
}