
<!--<button routerLink="/my-profile">My Profile</button>-->

<div class="black"></div>
<div class="blue"></div>
<div class="yellow"></div>

 <!-- <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>-->
<div>
<router-outlet> 

</router-outlet></div>
<button (click)="tryPost()">ניסוי שליחה לסרבר</button>
<!-- //<mat-autocomplete #auto="matAutocomplete"> -->
    <!-- <mat-option *ngFor="let option of options" [value]="option">
      {{option}}
    </mat-option>
 // </mat-autocomplete> -->
 