

<div class="example-container ">

  <div class=sighnin>
<form [formGroup]="form">
      <mat-form-field appearance="fill">
      <mat-label>אימייל</mat-label>
      <input matInput placeholder="pat@example.com"         formControlName="emailAddress"   required>
      <mat-error *ngIf="form.value.emailAddress.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>:הכנס סיסמא</mat-label>
      <input name="password"  formControlName="password"   matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <a href="#" routerLink="sign-up" class="a">עוד לא רשום? לחץ כאן</a>
    <button mat-raised-button (click)="logIn()" >התחברות</button>
</form>
  </div>

</div>

