<header>
  <button mat-button>
    <img src="../../assets/images/webphoto/header-logo.png">
  </button>
</header>
<div id="div1">

  <mat-grid-list cols="6" rowHeight="3:1" gutterSize="15">
    <mat-grid-tile  *ngFor="let lesson of lessons"[colspan]="1" [rowspan]="3">
     
<div class="flex-col">
          <h2>שיעור {{lesson.id}}</h2>
          <video width="160" height="120" controls>
            <source src="./../../assets/lessons/{{lesson.url}}" type="video/mp4">
          </video>
          <button mat-raised-button (click)="toLearn(lesson.url)"  [disabled]="lesson.id>user.level">ללמידה</button>
  </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>