  <div id="div1">

    <mat-grid-list cols="7" rowHeight="3:1" gutterSize="15">
      <mat-grid-tile [colspan]="5" [rowspan]="2">
        <a routerLink="/my-profile">To my profile </a>
        <h1>Classes</h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="7">
       <p>what are the classes???
           sdf fgghj rt  lu hj fgj fgh tyuoy yul hjlh lyu fgdf gh dr <br>
           sdf fgghj rt  lu hj fgj fgh tyuoy yul hjlh lyu fgdf gh dr <br>
           sdf fgghj rt  lu hj fgj fgh tyuoy yul hjlh lyu fgdf gh dr <br>
           sdf fgghj rt  lu hj fgj fgh tyuoy yul hjlh lyu fgdf gh dr <br>
           sdf fgghj rt  lu hj fgj fgh tyuoy yul hjlh lyu fgdf gh dr <br>
       </p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="5" [rowspan]="5">
      
      </mat-grid-tile>
    </mat-grid-list>
</div>