<span>
    <mat-grid-list cols="6" rowHeight="20vh" gutterSize="15"> 
        <mat-grid-tile [colspan]="4" [rowspan]="2">
            המערך של הכלב
        </mat-grid-tile>
       <mat-grid-tile [colspan]="2" [rowspan]="2">
            <img mat-card-image src="../assets/images/dog_list.png">
        </mat-grid-tile> 
          <mat-grid-tile [colspan]="4" [rowspan]="2">
            המערך של הסמיילי
        </mat-grid-tile>
                
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <img mat-card-image src="../assets/images/face_list.jpg">
        </mat-grid-tile>
       <mat-grid-tile [colspan]="4" [rowspan]="2">
            המערך של האוטואים
        </mat-grid-tile>
       
           <mat-grid-tile [colspan]="2" [rowspan]="2">
            תמונה של אוטו
        </mat-grid-tile>
       
     
    </mat-grid-list>
</span>