mat-grid-tile {
    background: lightblue;
  }
  div{
      width: 90%;
      text-align: center;
      position:relative ;
      left:80px;
      top: 20%;
  }
  img{
    max-width: 17%;
    text-align: center;
    height: auto;
  }
  